pymcubes==0.1.6 
omegaconf==2.3.0 
moviepy==1.0.3 
pandas==2.2.3 
transformers==4.41.2 
numpy==1.23.0 
trimesh==4.4.9 
opencv_python_headless==4.11.0.86 
tensorflow==2.12.0 
face-detection-tflite==0.6.0 
scikit-image==0.20.0 
jaxlib==0.4.30 
gradio==3.44.3
huggingface_hub==0.23.2
Cython 
accelerate 
tyro 
einops 
diffusers 
plyfile 
jaxtyping 
typeguard 
chumpy 
loguru 
ninja
git+https://github.com/facebookresearch/pytorch3d.git
git+https://github.com/ashawkey/diff-gaussian-rasterization/
nvdiffrast@git+https://github.com/ShenhanQian/nvdiffrast@backface-culling
git+https://github.com/camenduru/simple-knn/